body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 194, 182);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 130, 101);
    padding: 40px 20px;
}

.gameInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 161, 141);
    padding: 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: rgb(214, 139, 116);
    gap: 20px;
}

button {
    display: grid;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 100px;
}

.time {
    border: 3px solid rgb(87, 65, 59);
    border-radius: 20px;
    display: grid;
    justify-self: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5em;
    padding: 20px 15px;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    background-color: rgb(189, 129, 111);
}

.box {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-self: center;
    border: 3px solid rgb(87, 65, 59);
    height: 300px;
    width: 300px;
}

.box div {
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    cursor: pointer;
}